<td style="font-family: Arial; vertical-align:top;">
    Republic of the Philippines<br />
    <b>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES</b><br />
    <b>STO. TOMAS CAMPUS</b><br />
    <b>BACHELOR OF SCIENCE IN ELECTRONICS ENGINEERING</b>
</td>

<center>Polytechnic University of The Philippines</center>
<center>Sto. Tomas Campus</center>
<center>Electronics Engineering Program</center><br>
<center> <center>
<center>ECEN 353: Advanced Intrumentation & Control System</center>
<center>Machine Problem Number 1 Part 1</center>
<center>Second Semester SY 2024-2025 Activities: Group Number 4</center><br>
<center> <center>
<b><center>Submitted by</center></b>
<center>Hernandez, Daniella Kim Comendador</center>
<center>Purca, Jeanne Mae Manic</center>
<center>Roxas, April Talampas</center><br>
<center> <center>
<b><center>Submitted To</center></b>
<center>Dr. Robert G. de Luna, PECE</center>

<h3>Import the Libraries</h3>

In [2]:
# Import the Libraries (Pandas, Matplotlib, numpy)
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

<h3>Import and Display the Dataset</h3>

<div class="alert alert-info" role="alert">
Use the Pandas method <b>read_csv()</b> to load the data.
</div>

In [4]:
# Import the Dataset.
dataset = pd.read_csv("(Cleaned) World-Stock-Prices-Dataset.csv")
dataset.head(10)

,Open,High,Low,Volume,Dividends,Stock Splits,Brand_Name,Ticker,Industry_Tag,Country,...,Month,Day,DayOfWeek,IsWeekend,Days_Since_Start,Close,Brand_Name_encoded,Ticker_encoded,Industry_Tag_encoded,Country_encoded
0,0.001513,0.001624,0.001539,0.001391,0.0,0.0,peloton,PTON,fitness,usa,...,4,22,1,0,9240,5.750000,36.338813,36.338813,36.338813,84.813735
1,0.024939,0.025115,0.025217,0.004719,0.0,0.0,amd,AMD,technology,usa,...,4,22,1,0,9240,86.260002,32.397592,32.397592,59.989868,84.813735
2,0.033541,0.033957,0.034227,0.000007,0.0,0.0,adidas,ADDYY,apparel,germany,...,4,22,1,0,9240,117.150002,70.856410,70.856410,40.946265,49.303191
3,0.071668,0.073072,0.073054,0.000313,0.0,0.0,american express,AXP,finance,usa,...,4,22,1,0,9240,252.419998,76.351315,76.351315,99.456092,84.813735
4,0.006386,0.006353,0.006531,0.000000,0.0,0.0,puma,PMMAF,apparel,germany,...,4,22,1,0,9240,22.200001,48.947670,48.947670,40.946265,49.303191
5,0.093941,0.095978,0.095613,0.000731,0.0,0.0,visa,V,finance,usa,...,4,22,1,0,9240,331.399994,115.559036,115.559036,99.456092,84.813735
6,0.101278,0.101615,0.102136,0.000438,0.0,0.0,adobe,ADBE,technology,usa,...,4,22,1,0,9240,349.910004,153.078708,153.078708,59.989868,84.813735
7,0.018855,0.018903,0.019181,0.000552,0.0,0.0,unilever,UL,consumer goods,netherlands,...,4,22,1,0,9240,65.430000,28.709442,28.709442,46.987946,26.402013
8,0.015970,0.015906,0.016143,0.002688,0.0,0.0,cisco,CSCO,technology,usa,...,4,22,1,0,9240,55.040001,26.172443,26.172443,59.989868,84.813735
9,0.067274,0.068091,0.068602,0.001441,0.0,0.0,jpmorgan chase & co,JPM,finance,usa,...,4,22,1,0,9240,235.589996,63.460579,63.460579,99.456092,84.813735

In [ ]:
Preliminary Analysis of the Dataset

In [6]:
# A. To check if there is a missing data
missing_data = dataset.isnull().sum().sort_values(ascending=False)
missing_data

Open                    0
Month                   0
Industry_Tag_encoded    0
Ticker_encoded          0
Brand_Name_encoded      0
Close                   0
Days_Since_Start        0
IsWeekend               0
DayOfWeek               0
Day                     0
Year                    0
High                    0
Country                 0
Industry_Tag            0
Ticker                  0
Brand_Name              0
Stock Splits            0
Dividends               0
Volume                  0
Low                     0
Country_encoded         0
dtype: int64

In [7]:
# B. To check column names and the total records
dataset_count = dataset.count()
dataset_count

Open                    306775
High                    306775
Low                     306775
Volume                  306775
Dividends               306775
Stock Splits            306775
Brand_Name              306775
Ticker                  306775
Industry_Tag            306775
Country                 306775
Year                    306775
Month                   306775
Day                     306775
DayOfWeek               306775
IsWeekend               306775
Days_Since_Start        306775
Close                   306775
Brand_Name_encoded      306775
Ticker_encoded          306775
Industry_Tag_encoded    306775
Country_encoded         306775
dtype: int64

In [ ]:
# C. To view inforrmation about the dataset
print(dataset.info())

In [8]:
# D. To view the statistical summary of the dataset
statistics = dataset.describe()
statistics

,Open,High,Low,Volume,Dividends,Stock Splits,Year,Month,Day,DayOfWeek,IsWeekend,Days_Since_Start,Close,Brand_Name_encoded,Ticker_encoded,Industry_Tag_encoded,Country_encoded
count,306775.000000,306775.000000,306775.000000,306775.000000,306775.000000,306775.000000,306775.000000,306775.000000,306775.000000,306775.000000,306775.0,306775.000000,306775.000000,306775.000000,306775.000000,306775.000000,306775.000000
mean,0.021742,0.021879,0.021970,0.003072,0.003619,0.000884,2013.616070,6.508096,15.736872,2.040505,0.0,5152.698153,75.114049,75.114049,75.114049,75.114049,75.114049
std,0.040653,0.040886,0.041086,0.011594,0.069742,0.116062,7.198667,3.441801,8.754348,1.404579,0.0,2628.474182,140.043709,82.983333,82.983333,57.452298,19.016655
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2000.000000,1.000000,1.000000,0.000000,0.0,0.000000,0.198861,5.398984,5.398984,11.336297,26.402013
25%,0.004537,0.004577,0.004576,0.000185,0.000000,0.000000,2008.000000,3.000000,8.000000,1.000000,0.0,3013.000000,15.834277,30.102270,30.102270,46.987946,84.813735
50%,0.010117,0.010187,0.010222,0.000618,0.000000,0.000000,2014.000000,7.000000,16.000000,2.000000,0.0,5361.000000,35.075001,60.150953,60.150953,59.989868,84.813735
75%,0.023821,0.023958,0.024102,0.001635,0.000000,0.000000,2020.000000,10.000000,23.000000,3.000000,0.0,7469.000000,82.299507,92.317745,92.317745,96.233881,84.813735
max,1.000000,1.000000,1.000000,1.000000,15.000000,50.000000,2025.000000,12.000000,31.000000,4.000000,0.0,9240.000000,3427.610107,626.551302,626.551302,327.748082,84.813735

In [9]:
# Move "Close" column to the end
target = dataset.pop('Close')  
dataset['Close'] = target     
dataset.head()

,Open,High,Low,Volume,Dividends,Stock Splits,Brand_Name,Ticker,Industry_Tag,Country,...,Month,Day,DayOfWeek,IsWeekend,Days_Since_Start,Brand_Name_encoded,Ticker_encoded,Industry_Tag_encoded,Country_encoded,Close
0,0.001513,0.001624,0.001539,0.001391,0.0,0.0,peloton,PTON,fitness,usa,...,4,22,1,0,9240,36.338813,36.338813,36.338813,84.813735,5.750000
1,0.024939,0.025115,0.025217,0.004719,0.0,0.0,amd,AMD,technology,usa,...,4,22,1,0,9240,32.397592,32.397592,59.989868,84.813735,86.260002
2,0.033541,0.033957,0.034227,0.000007,0.0,0.0,adidas,ADDYY,apparel,germany,...,4,22,1,0,9240,70.856410,70.856410,40.946265,49.303191,117.150002
3,0.071668,0.073072,0.073054,0.000313,0.0,0.0,american express,AXP,finance,usa,...,4,22,1,0,9240,76.351315,76.351315,99.456092,84.813735,252.419998
4,0.006386,0.006353,0.006531,0.000000,0.0,0.0,puma,PMMAF,apparel,germany,...,4,22,1,0,9240,48.947670,48.947670,40.946265,49.303191,22.200001

In [17]:
# To Create a Matrix of Independent Variable, X
X = dataset.iloc[:, 0:20].values
# X_df = pd.DataFrame(X, columns=dataset.columns[0:20])
X_df.head()

,Open,High,Low,Volume,Dividends,Stock Splits,Brand_Name,Ticker,Industry_Tag,Country,Year,Month,Day,DayOfWeek,IsWeekend,Days_Since_Start,Brand_Name_encoded,Ticker_encoded,Industry_Tag_encoded,Country_encoded
0,0.001513,0.001624,0.001539,0.001391,0.0,0.0,peloton,PTON,fitness,usa,2025,4,22,1,0,9240,36.338813,36.338813,36.338813,84.813735
1,0.024939,0.025115,0.025217,0.004719,0.0,0.0,amd,AMD,technology,usa,2025,4,22,1,0,9240,32.397592,32.397592,59.989868,84.813735
2,0.033541,0.033957,0.034227,0.000007,0.0,0.0,adidas,ADDYY,apparel,germany,2025,4,22,1,0,9240,70.85641,70.85641,40.946265,49.303191
3,0.071668,0.073072,0.073054,0.000313,0.0,0.0,american express,AXP,finance,usa,2025,4,22,1,0,9240,76.351315,76.351315,99.456092,84.813735
4,0.006386,0.006353,0.006531,0.0,0.0,0.0,puma,PMMAF,apparel,germany,2025,4,22,1,0,9240,48.94767,48.94767,40.946265,49.303191

In [18]:
# To Create a Matrix of Dependent Variable, Y
Y = dataset.iloc[:, 20:].values
#Y_df = pd.DataFrame(Y, columns=dataset.columns[20:])
Y_df.head()

        Close
0    5.750000
1   86.260002
2  117.150002
3  252.419998
4   22.200001

A. Perform Backward Elimination Process to identify set of features to be used in machine learning models.

In [ ]:
import statsmodels.regression.linear_model as lm